@model Career.Web.Models.Blogs.ArticleModel

@using System.Web;

@{
    //page title
    ViewBag.PageTitle = !string.IsNullOrEmpty(Model.BlogPost.MetaTitle) ? Model.BlogPost.MetaTitle : Model.BlogPost.Title.Replace("<br>", "").Replace("<br/>", "").Replace("<br />", "");
    var authorArray = string.Empty;
    ViewBag.Canonical = "news/"+ Model.BlogPost.SeName + "/";
}

@section metatags {
    <meta property="og:title" content="@Html.Raw(Model.BlogPost.Title)" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@Model.CurrentPageURL" />
    <meta property="og:image" content="@Model.BlogPost.BlogBoxPicturePictureURL" />
    <meta property="og:description" content="@Html.Raw(Model.BlogPost.BodyOverview)" />
    <meta property="og:site_name" content="Furniture Mart USA" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@fmusacorp">
    <meta name="twitter:title" content="@Html.Raw(Model.BlogPost.Title)">
    <meta name="twitter:description" content="@Html.Raw(Model.BlogPost.BodyOverview)">
    <meta name="twitter:url" content="@Model.CurrentPageURL">
    <meta name="twitter:image" content="@Model.BlogPost.BlogBoxPicturePictureURL">
}

<div class="news-article-widget">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="news-article-details-heading">
                    <h1>@Html.Raw(Model.BlogPost.Title)</h1>
                    <div class="d-flex  justify-content-end" style="align-items:center;">
                        <div class="news-share">
                            <img class="img-responsive" src="~/images/news_share.png" alt="share" />
                            <span>Share</span>
                            <div class="social-share-icons">
                                <div class="social-share-wrapper">
                                    <ul>
                                        <li>
                                            <a class="fb-share" href="https://www.facebook.com/dialog/share?app_id=140586622674265&display=popup&href=@Model.CurrentPageURL" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" /></svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="twitter-share" href="https://twitter.com/intent/tweet?url=@Model.CurrentPageURL" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" /></svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="pin-share" href="javascript:void((function(){var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','https://assets.pinterest.com/js/pinmarklet.js?r='+ Math.random()*99999999);document.body.appendChild(e)})());">
                                                <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z" /></svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="linkedin-share" href="https://www.linkedin.com/shareArticle?url=@HttpUtility.UrlEncode(Model.CurrentPageURL)" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" /></svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <a class="link-rss" href="/news/rss/">
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#fff" d="M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 16.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 16.018 14.887h48.069c9.149.001 16.489-7.655 15.995-16.79zm144.249.288C439.596 229.677 251.465 40.445 16.503 32.01 7.473 31.686 0 38.981 0 48.016v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 161.316 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 16.329-7.474 16.005-16.504z" /></svg>
                        </a>
                    </div>
                </div>
                <div class="news-article-name">
                    @foreach (var author in Model.BlogAuthors)
                    {
                        <h3>
                            <a @(!string.IsNullOrEmpty(author.AuthorUrl) ? "href=" + author.AuthorUrl : "")>
                                @author.AuthorFirstName @author.AuthorMiddleName @author.AuthorLastName
                            </a>
                        </h3>
                    }
                    @if (Model.BlogPost.StartDateUtc != null)
                    {
                        <span>@Model.BlogPost.StartDateUtc?.ToString("MMMM dd, yyyy")</span>
                    }
                </div>              
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="news-article-details">
                            @Html.Raw(Model.BlogPost.Body)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="articles-list-widget">
                            <div class="articles-list-heading">
                                <h3>MORE NEWS</h3>
                            </div>
                            @foreach (var blog in Model.BlogPostList)
                            {
                                <div class="articles-list-item">
                                    <h4>
                                        <a href="/@blog.SeName.Replace("inspiration/","news/")">
                                            @Html.Raw(blog.Title)
                                        </a>
                                    </h4>
                                    <p>@Html.Raw(blog.BodyOverview)</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.BlogAuthors.Any())
            {
                <div class="col-md-12">
                    <div class="news-article-author">
                        <div class="media">
                            @foreach (var author in Model.BlogAuthors)
                            {
                                <div class="media-left">
                                    <a @(!string.IsNullOrEmpty(author.AuthorUrl) ? "href=" + author.AuthorUrl : "")>
                                        <img src="@author.AuthorPictureUrl" alt="author" class="mr-3 rounded-circle">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4><a @(!string.IsNullOrEmpty(author.AuthorUrl) ? "href=" + author.AuthorUrl : "")>@author.AuthorFirstName @author.AuthorMiddleName @author.AuthorLastName</a></h4>
                                    <p>
                                        <a @(!string.IsNullOrEmpty(author.AuthorUrl) ? "href=" + author.AuthorUrl : "")>
                                            @author.AuthorPosition
                                        </a>
                                        <br />Furniture Mart USA
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    //Google Analytics
    $(".fb-share").click(function (e) {
        CallGtagEventShare("share", "facebook", "article", '@Model.BlogPost.SeName');
    });
    $(".twitter-share").click(function (e) {
        CallGtagEventShare("share", "twitter", "article", '@Model.BlogPost.SeName');
    });
    $(".pin-share").click(function (e) {
        CallGtagEventShare("share", "pinterest", "article", '@Model.BlogPost.SeName');
    });
    $(".linkedin-share").click(function (e) {
        CallGtagEventShare("share", "linkedin", "article", '@Model.BlogPost.SeName');
    });
</script>

@{
    if (Model.BlogAuthors.Any())
    {
        int countItem = 0;
        foreach (var author in Model.BlogAuthors)
        {
            countItem++;
            authorArray = authorArray + "{";
            authorArray = authorArray + "\"@type\":" + "\"" + (author.AuthorType ? "Organization" : "Person") + "\",";
            authorArray = authorArray + "\"name\":" + "\"" + author.AuthorFirstName + " " + author.AuthorLastName + "\"" + (!string.IsNullOrEmpty(author.AuthorUrl) ? "," : "");
            if (!string.IsNullOrEmpty(author.AuthorUrl))
            {
                authorArray = authorArray + "\"url\":" + "\"" + author.AuthorUrl + "\"";
            }
            authorArray = authorArray + "}";
            if (countItem != Model.BlogAuthors.Count())
            {
                authorArray = authorArray + ",";
            }
        }
    }
}

<script type="application/ld+json">
    {
      "@@context": "https://schema.org",
      "@@type": "NewsArticle",
      "mainEntityOfPage": {
        "@@type": "WebPage",
        "@@id": "@Model.CurrentPageURL"
      },
      "headline": "@Model.BlogPost.Title.Replace("<br>", "").Replace("<br/>", "").Replace("<br />", "")",
      "image": [
        "@Model.BlogPost.SEOPictureUrl1",
        "@Model.BlogPost.SEOPictureUrl2",
        "@Model.BlogPost.SEOPictureUrl3"
      ],
      "datePublished": "@(Model.BlogPost.StartDateUtc.HasValue ? Model.BlogPost.StartDateUtc.Value.ToString() : string.Empty)",
      "dateModified": "@(Model.BlogPost.UpdatedDateUtc.HasValue ? Model.BlogPost.UpdatedDateUtc.Value.ToString() : string.Empty)",
      "author": [@Html.Raw(authorArray)],
      "publisher": {
        "@@type": "Organization",
        "name": "Furniture Mart USA",
        "logo": {
          "@@type": "ImageObject",
          "url": "@Model.HostURL/images/main-logo.png"
        }
      }
    }
</script>